.main {
    width: 100%;
    height: 100%;
    background: url(./../assets/bg_1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;

    .choose {
        margin-top: auto;
        margin-bottom: 40px;
        padding: 0px 20px;

        .row {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            gap: 10px;

            .character {
                background: white;
                border-radius: 20px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .zoom {
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        transition: transform 1s ease-in-out;
        pointer-events: none;
    }

    .bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background: black;
        opacity: 0.7;
        z-index: 1;
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 0.5;
        }
    }
}

.hidden {
    .character {
        background: transparent !important;

        .no_hidden {
            display: block !important;
        }

        img {
            display: none;
        }
    }
}

.title {
    position: fixed;
    z-index: 4;
    width: 100%;
    text-align: center;
    top: 20%;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.title_bottom {
    position: fixed;
    z-index: 4;
    width: 100%;
    text-align: center;
    bottom: 10%;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.shine {
    background: transparent;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        animation: spin linear 5s infinite forwards;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}


@function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
}

.snow {
    $total: 200;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;

    @for $i from 1 through $total {
        $random-x: random(1000000) * 0.0001vw;
        $random-offset: random_range(-100000, 100000) * 0.0001vw;
        $random-x-end: $random-x + $random-offset;
        $random-x-end-yoyo: $random-x + calc($random-offset / 2);
        $random-yoyo-time: calc(random_range(30000, 80000) / 100000);
        $random-yoyo-y: $random-yoyo-time * 100vh;
        $random-scale: random(10000) * 0.0001;
        $fall-duration: random_range(10, 30) * 1s;
        $fall-delay: random(30) * -1s;

        &:nth-child(#{$i}) {
            opacity: random(10000) * 0.0001;
            transform: translate($random-x, -10px) scale($random-scale);
            animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
        }

        @keyframes fall-#{$i} {
            #{percentage($random-yoyo-time)} {
                transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
            }

            to {
                transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
            }
        }
    }
}

.snow_div {
    position: fixed;
    top: 0px;
}


h1 {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
    line-height: 25px;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce .8s ease infinite alternate;
    font-size: 20px;
    color: white;
    // text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    //     0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    //     0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
}

h1 span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
}

h1 span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
}

h1 span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
}

h1 span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
}

h1 span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
}

h1 span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@keyframes bounce {
    100% {
        top: -20px;
        // text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        //     0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        //     0 50px 25px rgba(0, 0, 0, 0.2);
    }
}