<ng-particles id="tsparticles" *ngIf="firework" [options]="particlesOptions"
  [particlesInit]="particlesInit"></ng-particles>
<div class="shine" *ngIf="shine">
  <img src="../assets/shine.webp" alt="">
</div>
<div class="main" *ngIf="!this.data">
  <div class="title_web">
    <p class="VINCOM">VINCOM</p>
    <img class="title" src="../assets/title-removebg-preview.png" alt="">
    <p class="lucky_title">
      Lucky Bell Ringing
    </p>
  </div>
  <img class="bell" src="../assets/QR-2.png" alt="" (touchstart)="ringing()" />
  <p class="note">
    Hẫy giơ điện thoại lên cao, lắc chuông và
    <br>
    đón nhận những phần quà may mắn
  </p>
</div>
<div class="main unluck" *ngIf="this.data?.prize === ''">
  <div class="title_web">
    <p class="VINCOM">VINCOM</p>
    <img class="title" src="../assets/title-removebg-preview.png" alt="">
    <p class="lucky_title">
      Lucky Bell Ringing
    </p>
  </div>
  <p class="title1">
    CẢM ƠN BẠN ĐÃ THAM GIA CHƯƠNG TRÌNH
  </p>
  <p class="title2">
    Vincom chúc bạn một mùa <br>
    Giáng sinh an lành, ấm áp <br>
    bên những người thân yêu
  </p>
  <div class="footer">
    <img src="../assets/left-removebg-preview.png" alt="">
    <img src="../assets/right-removebg-preview.png" alt="">
  </div>
</div>
<div class="main luckVotcher" *ngIf="this.data?.prize === 'voucher'">
  <div class="title_web">
    <p class="VINCOM">VINCOM</p>
    <img class="title" src="../assets/title-removebg-preview.png" alt="">
    <p class="lucky_title">
      Lucky Bell Ringing
    </p>
  </div>
  <img src="../assets/voucher.png" alt="" style="height: 350px;">
  <div class="footer">
    <p class="title2">
      CHÚC MỪNG BẠN LỌT VÀO TOP 5% <br>
      kHÁCH HÀNG MAY MẮN NHẤT
    </p>
    <p class="title2">
      VINCOM XIN GỬI TẶNG BẠN 01 VOUCHER <br>
      MUA SẮM TẠI VINCOM SMART CITY
    </p>
  </div>
</div>
<div class="main luckTicket" *ngIf="this.data?.prize === 'ticket'">
  <div class="title_web">
    <p class="VINCOM">VINCOM</p>
    <img class="title" src="../assets/title-removebg-preview.png" alt="">
    <p class="lucky_title">
      Lucky Bell Ringing
    </p>
  </div>
  <img src="../assets/ticket.png" alt="" style="height: 350px;">
  <div class="footer">
    <p class="title2">
      CHÚC MỪNG BẠN LỌT VÀO TOP 5% <br>
      kHÁCH HÀNG MAY MẮN NHẤT
    </p>
    <p class="title2">
      VINCOM XIN GỬI TẶNG BẠN 01 CẶP VÉ XEM PHIM <br>
      TẠI CGV TRẦN DUY HƯNG
    </p>
  </div>
</div>
<audio id="audio">
  <source src="https://dev-mywedding-api-831513078501.asia-southeast1.run.app/tool/bell_ring.mp3" type="audio/mpeg">
</audio>
<div class="snow_div">
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
  <div class="snow"></div>
</div>